# --------------------------- Start Print ----------------------------
[gcode_macro START_PRINT]
gcode:
  LOAD_MESH
  SET_PRESSURE_ADVANCE EXTRUDER=extruder SMOOTH_TIME=0.06
  #M207 S1 F30 set retract length 1 mm and speed 30 mm\s
  #M208 S0 F30 set unretract speed 30 mm\s
  {% set bed_temp = params.BED|int %}
  {% set extruder_temp = params.HOTEND|int %}
  # Start bed heating
  M140 S{bed_temp}
  # Start nozzle temp
  M104 S{extruder_temp}
  # Use absolute coordinates
  G90
  # Home the printer
  G28						
  # Move the nozzle near the bed
  G1 Z3 F3000
  # Move to the start position
  G1 X2 Y40 F3000
  # Аппроксимировал тепловое расширение стола линейной функцией
  {% set z_offset_aproximated = (bed_temp * 0.01) - 0.75%}
  SET_GCODE_OFFSET Z={z_offset_aproximated} MOVE=1
  # Wait for bed to reach temperature
  M190 S{bed_temp}
  # Set and wait for nozzle to reach temperature
  M109 S{extruder_temp}
  # Move to start position Z
  G1 Z0.3 Y30 F1200
  # reset extruder
  G92 E0
  # prime the nozzle
  G1 Y3 E10 F800 
  # reset extruder
  G92 E0
  # Retract a little
  G1 E-1 F500
  # Quickly wipe away from the filament line`
  G1 X120 F4000                             
    
# --------------------------------------------------------------------

# ---------------------------- End Print -----------------------------
[gcode_macro END_PRINT]
gcode:
  # Turn off bed, extruder, and fan
  M140 S0
  M104 S0
  M106 S0
  # Relative positionning
  G91
  # Retract and raise Z
  G1 Z0.2 E-4 F2400
  # Wipe out
  G1 X5 Y5 F3000
  # Raise Z more
  G1 Z10
  # Absolute positionning
  G90
  # Present print
  G1 X0 Y220
  # Disable steppers
  M84
# -----------------------------------------

[gcode_macro CANCEL_PRINT]
description: Cancel the actual running print
rename_existing: CANCEL_PRINT_BASE
gcode:
    # Relative positionning
    G91
    # Retract and raise Z
    G1 Z10 E-4 F2400
    # Absolute positioning
    G90
    # Move out
    G1 X5 Y220
    TURN_OFF_HEATERS
    CANCEL_PRINT_BASE

[gcode_macro PAUSE]
description: Pause the actual running print
rename_existing: PAUSE_BASE
# change this if you need more or less extrusion
variable_extrude: 1.0
gcode:
    ##### read E from pause macro #####
    {% set E = printer["gcode_macro PAUSE"].extrude|float %}
    ##### set park positon for x and y #####
    # default is your max posion from your printer.cfg
    {% set x_park = printer.toolhead.axis_maximum.x|float - 5.0 %}
    {% set y_park = printer.toolhead.axis_maximum.y|float - 5.0 %}
    ##### calculate save lift position #####
    {% set max_z = printer.toolhead.axis_maximum.z|float %}
    {% set act_z = printer.toolhead.position.z|float %}
    {% if act_z < (max_z - 2.0) %}
        {% set z_safe = 2.0 %}
    {% else %}
        {% set z_safe = max_z - act_z %}
    {% endif %}
    ##### end of definitions #####
    PAUSE_BASE
    G91
    {% if printer.extruder.can_extrude|lower == 'true' %}
      G1 E-{E} F2100
    {% else %}
      {action_respond_info("Extruder not hot enough")}
    {% endif %}
    {% if "xyz" in printer.toolhead.homed_axes %}
      G1 Z{z_safe} F900
      G90
      G1 X{x_park} Y{y_park} F6000
    {% else %}
      {action_respond_info("Printer not homed")}
    {% endif %} 
    
[gcode_macro RESUME]
description: Resume the actual running print
rename_existing: RESUME_BASE
gcode:
    ##### read E from pause macro #####
    {% set E = printer["gcode_macro PAUSE"].extrude|float %}
    #### get VELOCITY parameter if specified ####
    {% if 'VELOCITY' in params|upper %}
      {% set get_params = ('VELOCITY=' + params.VELOCITY)  %}
    {%else %}
      {% set get_params = "" %}
    {% endif %}
    ##### end of definitions #####
    {% if printer.extruder.can_extrude|lower == 'true' %}
      G91
      G1 E{E} F2100
    {% else %}
      {action_respond_info("Extruder not hot enough")}
    {% endif %}  
    RESUME_BASE {get_params}

[gcode_macro M420]
description: Load the current mesh
gcode:
  BED_MESH_PROFILE LOAD=default

[gcode_macro LOAD_MESH]
description: Load the current mesh
gcode:
  BED_MESH_PROFILE LOAD=default
  
[gcode_macro G29]
description: creates automated homing and bed mesh
gcode:
  G28
  BED_MESH_CALIBRATE
  DATA_SAVE

[gcode_macro BED_CALIBRATE]
description: creates automated homing and bed mesh
gcode:
  G28
  BED_MESH_CALIBRATE
  DATA_SAVE

[gcode_macro M207]
gcode:
    {% if params.S is not defined %}
        {% set S = printer.configfile.settings.firmware_retraction.retract_length|float %}
    {% endif %}
    {% if params.F is not defined %}
        {% set F = printer.configfile.settings.firmware_retraction.retract_speed|float %}
    {% endif %}
    SET_RETRACTION RETRACT_LENGTH={S} RETRACT_SPEED={F}

[gcode_macro M208]
gcode:
    {% if params.S is not defined %}
        {% set S = printer.configfile.settings.firmware_retraction.unretract_extra_length|float %}
    {% endif %}
    {% if params.F is not defined %}
        {% set F = printer.configfile.settings.firmware_retraction.unretract_speed|float %}
    {% endif %}
    SET_RETRACTION UNRETRACT_EXTRA_LENGTH={S} UNRETRACT_SPEED={F}